body {
  font-family: sans-serif;
  background: #f5f5f5;
  margin: 0;
}

.App {
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App > * {
  padding: 32px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.dark {
  background: black;
  color: white;
  padding: 32px;
}
